/* Category Slider */
.owl-carousel.owl-carousel-category .owl-item img {
    width: auto;
    margin: 0 auto;
}
.category-item img {
   background: #fff none repeat scroll 0 0;
   border-radius: 50px;
   box-shadow: 0 0 2px #ccc;
   height: 70px;
   margin: 1px 0 8px;
   object-fit: scale-down;
   transform: scale(1);
   width: 70px;
}
.owl-carousel-category .item{
     cursor: pointer;
}
.owl-carousel-category .item:hover .category-item img,
.category-item:hover img {
   transform: scale(1.09);
   transition-duration: 0.4s;
}
.owl-carousel-category .item:hover{
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
}
.category-item {
   background: #fff none repeat scroll 0 0;
   border-radius: 2px;
   box-shadow: 0 0 6px #ececec;
   margin: 6px 2px;
   padding: 24px 12px;
   text-align: center;
}
.top-category .category-item {
   padding: 20px 11px 15px;
}
.category-item h6 {
    font-size: 13.2px;
    margin: 5px 0 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
}
.owl-carousel-category .item:hover h6 a,
.category-item h6 a:hover{
    color: var( --default-color);
}
.category-item p {
   font-size: 11px;
   font-weight: 500;
   margin: 0;
   color: var( --default-color);
}
.category-image {
    margin-bottom: 10px;
}
.owl-carousel-category {
    padding-top: 10px;
}
.cat_verified span {
    margin-left: 5px;
}
.top-category.section-padding {
    padding-bottom: 30px;
}
.owl-carousel.owl-carousel-category .owl-nav button {
    background: #dbdbdb !important;
    color: #fff !important;
}
.owl-carousel.owl-carousel-category .owl-nav button.owl-prev {
    left: -15px;
}
.owl-carousel.owl-carousel-category .owl-nav button.owl-next {
    right: -15px;
}
.owl-carousel.owl-carousel-category .owl-nav button:hover,
.owl-carousel.owl-carousel-category .owl-nav button:focus{
    background: #333 !important;
    outline: none;
}
.owl-carousel.owl-carousel-category .owl-nav{
    display: none;
    transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
.owl-carousel.owl-carousel-category:hover .owl-nav{
    display: block;
}
