ul.header_menu {
	list-style:none;
	height:27px;
	top:30px;
	position:relative;
	z-index:999;
	float:right;
}
ul.header_menu a {
	color:#fff;
	text-transform:uppercase;
	font-size:11px;
}
ul.header_menu li {
	float:left;
	display:block;
	height:27px;
	line-height:27px;
	padding:0 12px;
	margin-left: 5px;
}
ul.header_menu li.lastitem a {
}
li.header_menu_active,ul.header_menu li:hover {
	background-color:#f89828;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	/*hack for IE*/
	behavior:url(PIE.html);
	/*hack for IE*/
}
li.header_menu_active a,ul.header_menu li:hover a {
	color:#fff;
	text-decoration: none;
}
/*sub item menu*/
ul.header_menu li ul {
	width:150px;
	margin-left:-15px;
	position:relative;
	visibility:hidden;
	z-index:999999;
	background-color:#074596;
}
ul.header_menu li ul li {
	float:none;
	display:block;
	background:none;
	height:30px;
	line-height:30px;
	padding:0 5px;
	padding-left:15px;
}
ul.header_menu li ul li:hover {
	background-color:transparent;
}
ul.header_menu li ul li a {
	color:#fff;
	text-decoration:none;
}
ul.header_menu li ul li a:hover {
	text-decoration: underline;
}