@charset "utf-8";
/* CSS Document */
#tabs {
	background:url(images/bg-box.gif);
}
#tabs ul {
	margin:0;
	padding:0;
}
#tabs ul.tabid {
	padding:5px;
}
#tabs li {
	list-style:none;
}
* html #tabs li {
	display:inline;
}
#tabs li {
	float:left;
	color:#FFD800;
}
#tabs ul.tabid li.active {
	background:#ffd800;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-radius:10px 10px 0 0;
}
#tabs ul.tabid li.active a {
	color:#333;
}
#tabs div.tabcontent {
	background:#ffd800;
	clear:both;
	min-height:200px;
	overflow:hidden;
}
#tabs ul li a {
	text-decoration:none;
	padding:8px;
	color:#FFD800;
	display:block;
}
#tabs div a {
	color:#333 !important;
	padding:0 !important;
}
.thumbs {
	float:left;
	border:#000 solid 1px;
	margin-right:10px;
}
ul.listvideo {
	width:274px;
}
ul.listvideo li {
	width:274px;
	padding: 8px;
}