# Services Files
#-------------------------

storages/cache_page/*
!storages/cache_page/index.html
!storages/cache_page/.htaccess
storages/cache_db/*
!storages/cache_db/index.html
!storages/cache_db/.htaccess
storages/ci_sessions/*
!storages/ci_sessions/index.html
!storages/ci_sessions/.htaccess
storages/cookie/*
!storages/cookie/index.html
!storages/cookie/.htaccess

based_core_apps_thudo/cache/*
!based_core_apps_thudo/cache/index.html
!based_core_apps_thudo/cache/.htaccess
based_core_apps_thudo/cache/ci_sessions/*
!based_core_apps_thudo/cache/ci_sessions/index.html
!based_core_apps_thudo/cache/ci_sessions/.htaccess

based_core_apps_thudo/cookie/*
!based_core_apps_thudo/cookie/index.html
!based_core_apps_thudo/cookie/.htaccess

based_core_apps_thudo/logs/*
!based_core_apps_thudo/logs/index.html
!based_core_apps_thudo/logs/.htaccess
based_core_apps_thudo/logs-data/*
!based_core_apps_thudo/logs-data/index.html
!based_core_apps_thudo/logs-data/.htaccess
based_core_apps_thudo/logs-sql/*
!based_core_apps_thudo/logs-sql/index.html
!based_core_apps_thudo/logs-sql/.htaccess
based_core_apps_thudo/SQL-Log/*
!based_core_apps_thudo/SQL-Log/index.html
!based_core_apps_thudo/SQL-Log/.htaccess
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
.DS_Store
/nbproject/
.idea/*
.phpintel/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
